<h1>Listing provisioning_log_entries</h1>

<table>
  <tr>
    <th>Phone</th>
    <th>Memo</th>
    <th>Succeeded</th>
    <th></th>
  </tr>

<% @provisioning_log_entries.each do |provisioning_log_entry| %>
  <tr>
    <td><%= provisioning_log_entry.phone_id %></td>
    <td><%= provisioning_log_entry.memo %></td>
    <td><%= provisioning_log_entry.succeeded %></td>
    <td><%= link_to 'Show', provisioning_log_entry %></td>
  </tr>
<% end %>
</table>
