<h1>Listing SIP accounts</h1>

<p>
	<%= link_to 'New Sip account', new_sip_account_path %>
</p>

<%= render :partial => 'table_of_sip_accounts', :locals => {:sip_accounts => @sip_accounts} %>

<br />

