<p id="notice"><%= notice %></p>

<%= render :partial => 'show_single_phone', :locals => {:phone_model => @phone_model} %>

<%= link_to 'Edit', edit_phone_model_path(@phone_model) %> |
<%= link_to 'Back', phone_models_path %>
