<h1>Listing phone keys for sip account <%= @sip_account.name %></h1>
<p>
<%= link_to 'New Phone key', new_sip_account_phone_key_path(@sip_account) %>
</p>

<%= render :partial => 'table_of_phone_keys', :locals => {:sip_account => @sip_account, :phone_keys => @phone_keys} %>
