<!DOCTYPE html>
<html>
<head>
	<title>Cantina SIP Phone Provisioning</title>
<%= stylesheet_link_tag :all %>
<%= javascript_include_tag :defaults %>
<%= csrf_meta_tag %>
</head>
<body>

<div id="header">
	<% if current_page?(root_url) %>
	  Cantina SIP Phone Provisioning
	<% else %>
	  <a href="/">Cantina SIP Phone Provisioning</a>
	<% end %>
</div>

<%= yield %>

<hr />
Cantina is an <a href="http://www.amooma.de/">AMOOMA GmbH</a> software project. You'll find the source-code at <a href="http://github.com/amooma/Cantina">http://github.com/amooma/Cantina</a>
</body>
</html>
